<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Air Conditioner Repairing Service Website Template - Fixit</title>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Template Style CSS -->
<link href="css/style.css" rel="stylesheet">
<!-- animsition css -->
 
<link rel="stylesheet" type="text/css" href="css/animsition.min.css">
<!-- Template fonts -->
<link href="https://fonts.googleapis.com/css?family=Catamaran:400,300,200,100,500,600,700,800" rel="stylesheet" type="text/css">
<!-- Font Awesome CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/fontello.css" rel="stylesheet">
<!-- slider -->
<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
</head>