<div class="collapse" id="search-area">
  <div class="well-bg pinside30">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
            </span> </div>
          <!-- /input-group --> 
        </div>
        <!-- /.col-lg-6 --> 
      </div>
    </div>
  </div>
</div>
<div class="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
      <div class="menu-button">Menu</div>
        <div>
          <ul data-breakpoint="800" class="flexnav">
            <li class="active"><a href="/" title="Home">Home</a>
            </li>
            <li><a href="/services" title="Service" class="animsition-link">Service</a>
            </li>
            <li><a href="/blog" title="Blog" class="animsition-link">Blog</a>
            </li>
            <li><a href="/about" title="About Us" class="animsitiom-link">About Us</a></li>
            <li><a href="/contact" title="Contact Us" class="animsitiom-link">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 text-right">
        <div class="nav-btn"> <a href="service-image.html" class="btn btn-default">Scheduled service</a> <a role="button" data-toggle="collapse" href="index.html#search-area" aria-expanded="false" aria-controls="search-area" class="btn btn-secondary"> <i class="fa fa-search"></i> </a> </div>
      </div>
    </div>
  </div>
</div>
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 hidden-xs">
        <div class="address-info">
          <div class="icon icon-size-x"><i class="icon-placeholder"></i></div>
          <div class="location-address">194 Glen Street <br>
            Louisville, KY 40299</div>
        </div>
      </div>
      <div class="col-md-4 text-center col-sm-4 col-xs-12">
        <div class="logo"> <a href="/"><img src="images/logo.png" alt=""></a> </div>
      </div>
      <div class="col-md-offset-1 col-md-3 text-right col-sm-4 hidden-xs">
        <div class="contact-info">
          <div class="icon icon-size-x"><i class="icon-telephone-1"></i></div>
          <div class="contact-text">call now fast service</div>
          <div class="call-text"> + 1 800-234-7890</div>
        </div>
      </div>
    </div>
  </div>
</div>
