<div class="page-header"><!-- page-header -->
  <div class="container">
    <div class="row page-section"><!-- page section -->
      <div class="col-md-12 page-description"><!-- page description -->
        <h1 class="page-title">About us</h1>
      </div>
      <!-- /.page description --> 
    </div>
    <!-- /.page section --> 
  </div>
</div>
<!-- /.page-header -->
<div class="page-breadcrumb"><!-- page-breadcrumb -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="about-us.html#">Home</a></li>
          <li class="active">About us</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- /.page-breadcrumb -->

<div class="section-space80">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-title text-center mb60">
          <h1>Most Trusted AC &amp; Heating Company</h1>
          <p> Service Experts Heating &amp; Air Conditioning is committed to performing expert quality AC repair, maintenance and installation throughout your city. </p>
          <p>Call <strong class="highlight">1-800-123-456</strong> anytime &amp; <strong class="highlight">100% satisfaction</strong> guaranteed!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12"><img src="images/about-us.jpg" alt="" class="img-responsive mb30"></div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="feature-block"><!-- feature-block -->
          <div class="feature-icon mb20"> <i class="icon icon-user-6 icon-size-xx"></i></div>
          <h3>Professionalism</h3>
          <p>Emergency repair services 24 hours a day, seven days a week. Fixit all time ready to repair.</p>
        </div>
        <!-- /.feature-block --> 
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="feature-block "><!-- feature-block -->
          <div class="feature-icon mb20"><i class="icon icon-diamond icon-size-xx"></i></div>
          <h3>Integrity</h3>
          <p>Service Fixit offers 100% satisfaction guarantees on all Air-conditioner &amp; Heating services.</p>
        </div>
        <!-- /.feature-block --> 
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="feature-block"><!-- feature-block -->
          <div class="feature-icon mb20"> <i class="icon icon-like icon-size-xx"></i></div>
          <h3>Guaranteed Services</h3>
          <p>Our technicians have your safety, welfare and comfort in mind at all times. </p>
        </div>
        <!-- /.feature-block --> 
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="feature-block"><!-- feature-block -->
          <div class="feature-icon mb20"> <i class="icon icon-idea icon-size-xx"></i></div>
          <h3>Achieventment</h3>
          <p>Fusce sit amet aliquam augue, et suscipit mi. Cras lobortis non tuperdiet enc sem id metus.</p>
        </div>
        <!-- /.feature-block --> 
      </div>
    </div>
  </div>
</div>
<div class="bg-light section-space80">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-title text-center mb60">
          <h1>Most Trusted AC &amp; Heating Company</h1>
          <p>Fixit Repair family-owned and operated air conditioning and heating company established in Ahmedabad in 1958.  We know our existence depends on you that support us and we want to Thank You! The highest compliment we receive is the trust in your referral and we truly appreciate your support!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="feature-block bg-white pinside40 text-center"><!-- feature-block -->
          <div class="feature-icon mb20"> <i class="icon icon-clock icon-size-xx"></i></div>
          <h3>Open 24/7 - Available</h3>
          <p>Emergency repair services 24 hours a day, seven days a week. Fixit all time ready to repair &amp; supportive.</p>
        </div>
        <!-- /.feature-block --> 
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="feature-block bg-white pinside40 text-center"><!-- feature-block -->
          <div class="feature-icon mb20"><i class="icon icon-like-1 icon-size-xx"></i></div>
          <h3>Satisfaction Guaranteed</h3>
          <p>Service Fixit offers 100% satisfaction guarantees on all Air-conditioner &amp; Heating services.</p>
        </div>
        <!-- /.feature-block --> 
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="feature-block bg-white pinside40 text-center"><!-- feature-block -->
          <div class="feature-icon mb20"> <i class="icon icon-user-1 icon-size-xx"></i></div>
          <h3>Professionally Technicians</h3>
          <p>Our technicians have your safety, welfare and comfort in mind at all times. they are certified and experienced.</p>
        </div>
        <!-- /.feature-block --> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="coupon-cta pinside30 mt80"><!-- coupon-cta -->
          <p class="mb0">View Special Offer / Coupon code <a href="coupon.html" class="btn btn-default">View speical offers</a></p>
        </div>
        <!-- /.coupon-cta --> 
      </div>
    </div>
  </div>
</div>
<div class="section-space80">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-title text-center mb60">
          <h1>Meet The Team</h1>
          <p> Cras lobortis non tuperdiet eFusce sit amet aliqiet enc sem id metus.nc sem id metus.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="team-block mb60">
          <div class="team-img"><a href="about-us.html#"><img src="images/team-1.jpg" alt="" class=" img-responsive img-circle"></a></div>
          <div class="team-detail">
            <h3 class="team-title"><a href="about-us.html#" class="heading-title">Sean Brierly</a></h3>
            <small>President</small></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="team-block mb60">
          <div class="team-img"><a href="about-us.html#"><img src="images/team-2.jpg" alt="" class=" img-responsive img-circle"></a></div>
          <div class="team-detail">
            <h3 class="team-title"><a href="about-us.html#" class="heading-title">Ashley Hanigan</a></h3>
            <small>vice President</small></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="team-block mb60">
          <div class="team-img"><a href="about-us.html#"><img src="images/team-3.jpg" alt="" class=" img-responsive img-circle"></a></div>
          <div class="team-detail">
            <h3 class="team-title"><a href="about-us.html#" class="heading-title">Alana Hopley</a></h3>
            <small>Service Technician</small></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="team-block mb60">
          <div class="team-img"><a href="about-us.html#"><img src="images/team-4.jpg" alt="" class=" img-responsive img-circle"></a></div>
          <div class="team-detail">
            <h3 class="team-title"><a href="about-us.html#" class="heading-title">Blake Wilsmore</a></h3>
            <small>Master Technician</small></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-space80 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-title text-center mb60">
          <h1>We service, repair &amp; install all brands</h1>
          <p>We offer repair, maintenance and installation of the all major brands of ac, HVAC equipment.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo.png" alt=""></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo2.png" alt=""></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo3.png" alt=""></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo4.png" alt=""></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo5.png" alt=""></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo6.png" alt=""></div>
    </div>
  </div>
</div>