<div class="page-header"><!-- page-header -->
  <div class="container">
    <div class="row page-section"><!-- page section -->
      <div class="col-md-12 page-description"><!-- page description -->
        <h1 class="page-title">Blog</h1>
      </div>
      <!-- page description --> 
    </div>
    <!-- page section --> 
  </div>
</div>
<div class="page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="blog.html#">Home</a></li>
          <li class="active">Blog</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="row">
          <div class="col-md-12"><!-- blog post -->
            <div class="blog-post mb30">
              <div class="blog-img mb30"><a href="blog-detail.html"><img src="images/blog-img.jpg" alt="" class="img-responsive"></a>
                <div class="meta meta-bg">
                  <div class="meta-date">
                    <div class="date">14</div>
                    July </div>
                  <div class="meta-comment"><a href="blog.html#">5<br>
                    <i class="fa  fa-comments"></i></a> </div>
                </div>
              </div>
              <h1><a href="blog-detail.html" class="heading-title">Repair or Replace Air Conditioning Services</a></h1>
              <p class="meta"><span class="meta-author">By <a href="blog.html#">Admin / </a></span><span class="meta-category"> in <a href="blog.html#">air conditioning</a></span></p>
              <p>Nunc cursus leo risus non ac efficitur vel sed  Mauris iaculis finibus ex et viverra. Aliquam blandit ornare justo, in sagittis sem ornare sit amet. Cras posuere vel ex at vulputate. Praesent volutpat consequat urna lorem ipsuget sagittis.condimentum dictum urna id volutpat vivamus auctor magna eu velit suscipit…</p>
              <a href="blog-detail.html" class="btn-link">Read More</a> </div>
            <hr>
          </div>
          <!--/. blog post -->
          <div class="col-md-12"><!-- blog post -->
            <div class="blog-post mb30">
              <div class="blog-img mb30"><a href="blog-detail.html"><img src="images/blog-img-1.jpg" alt="" class="img-responsive"></a>
                <div class="meta meta-bg">
                  <div class="meta-date">
                    <div class="date">15</div>
                    July </div>
                  <div class="meta-comment"><a href="blog.html#">5<br>
                    <i class="fa  fa-comments"></i></a> </div>
                </div>
              </div>
              <h1><a href="blog-detail.html" class="heading-title">Smart Alternative to an Air Conditioner</a></h1>
              <p class="meta"><span class="meta-author">By <a href="blog.html#">Admin / </a></span><span class="meta-category"> in <a href="blog.html#">air conditioning</a></span></p>
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis at est ex. Sed accumsan quam eget eros impnt montes, nascetur ridiculus me accumsan quaendisse molestie urna lectus, in aliquet orci maximus et.  Suspendisse molestie urna lectus, in aliquet orci maximus et. </p>
              <a href="blog-detail.html" class="btn-link">Read More</a> </div>
            <hr>
          </div>
          <!--/. blog post -->
          <div class="col-md-12"> <!-- blog post -->
            <div class="blog-post mb30">
              <div class="blog-slider">
                <div class="blog-img mb30"><a href="blog-detail.html"><img src="images/blog-img-1.jpg" alt="" class="img-responsive"></a> </div>
                <div class="blog-img mb30"><a href="blog-detail.html"><img src="images/blog-img-2.jpg" alt="" class="img-responsive"></a> </div>
                <div class="blog-img mb30"><a href="blog-detail.html"><img src="images/blog-img-3.jpg" alt="" class="img-responsive"></a> </div>
              </div>
              <div class="meta meta-bg">
                <div class="meta-date">
                  <div class="date">16</div>
                  July </div>
                <div class="meta-comment"><a href="blog.html#">5<br>
                  <i class="fa  fa-comments"></i></a> </div>
              </div>
              <h1><a href="blog-detail.html" class="heading-title">Prepare Your Heating System for Winter</a></h1>
              <p class="meta"><span class="meta-author">By <a href="blog.html#">Admin / </a></span><span class="meta-category"> in <a href="blog.html#">air conditioning</a></span></p>
              <p>Vestibulum vestibulum purus ante, nec facilisis augue ultricies in. Curabitur aliquam ac elit auctor sodales. Curabitur sagittis elit ut lorem feugiat ultrices. Maecenas venenatis felis quis metus tincidunt, dignissim aliquet lorem iaculis. Integer a vestibulum nisllorem ipsum dolor asirroin vel pretium ligula.</p>
              <a href="blog-detail.html" class="btn-link">Read More</a> </div>
            <hr>
          </div>
          <!-- blog post -->
          <div class="col-md-12"><!-- blog post -->
            <div class="blog-post mb30">
              <div class="blog-img mb30"><a href="blog-detail.html"><img src="images/blog-img-3.jpg" alt="" class="img-responsive"></a>
                <div class="meta meta-bg">
                  <div class="meta-date">
                    <div class="date">17</div>
                    July </div>
                  <div class="meta-comment"><a href="blog.html#">5<br>
                    <i class="fa  fa-comments"></i></a> </div>
                </div>
              </div>
              <h1><a href="blog-detail.html" class="heading-title">The Cost to Install a Mini-Split Air Conditioner </a></h1>
              <p class="meta"><span class="meta-author">By <a href="blog.html#">Admin / </a></span><span class="meta-category"> in <a href="blog.html#">air conditioning</a></span></p>
              <p>Aliquam quis ante euismod, ultricies urna sed, sodales justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean condimentum libero eu tellus dignissim, in tincidunt purus tristique. Curabitur rhoncus facilisis mauris vitas estrnare quam placerat lorem ipsum dolor. </p>
              <a href="blog-detail.html" class="btn-link">Read More</a> </div>
            <hr>
          </div>
          <!--/. blog post -->
          <div class="col-md-12"><!-- blog post -->
            <div class="blog-post mb30">
              <h1><a href="blog-detail.html" class="heading-title">3 Ways to Prevents A/C from Breaking Down</a></h1>
              <p class="meta"><span class="meta-author">By <a href="blog.html#">Admin / </a></span><span class="meta-category"> in <a href="blog.html#">air conditioning</a></span></p>
              <p>Aliquam quis ante euismod, ultricies urna sed, sodales justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean condimentum libero eu tellus dignissim, in tincidunt purus tristique. Curabitur rhoncus facilisis mauris vitas estrnare quam placerat lorem ipsum dolor. </p>
              <a href="blog-detail.html" class="btn-link">Read More</a> </div>
            <hr>
          </div>
          <!--/. blog post -->
          <div class="col-md-12"><!-- blog post -->
            <div class="blog-post mb30">
              <h1 class="heading-title">Quote of the day</h1>
              <blockquote class="quote-block">
                <p class="quote-text">"Curabitur sagittis elit ut lorem feugiat ultrices. Maecenas venenatis felis quis metus tincidunt, dignissim aliquet lorem iaculis. Integer a vestibulun vel pretium ligula."</p>
              </blockquote>
            </div>
            <hr>
          </div>
          <div class="col-md-12 text-center">
            <div class="st-pagination"><!--st-pagination-->
              <ul class="pagination">
                <li> <a href="blog.html#" aria-label="previous"><span aria-hidden="true">previous</span></a></li>
                <li class="active"><a href="blog.html#">1</a></li>
                <li><a href="blog.html#">2</a></li>
                <li> <a href="blog.html#" aria-label="Next"><span aria-hidden="true">next</span></a></li>
              </ul>
            </div>
            <!--/.st-pagination--> 
          </div>
          <!-- /.paginations --> 
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="sidebar">
          <div class="row">
            <div class="col-md-12">
              <div class="widget-outline">
                <div class="widget">
                  <div class="widget-search">
                    <h3 class="widget-title">Search</h3>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search">
                      <span class="input-group-btn">
                      <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                      </span> </div>
                    <!-- /input-group --> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="widget-outline">
                <div class="widget">
                  <div class="widget-category">
                    <h3 class="widget-title">Categories</h3>
                    <ul class="listnone bullet bullet-arrow-right mb0">
                      <li><a href="blog.html#">Air - Conditioning</a></li>
                      <li><a href="blog.html#">HEating &amp; Furnace</a></li>
                      <li><a href="blog.html#">maintenance </a></li>
                      <li><a href="blog.html#">commercial</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="widget-outline">
                <div class="widget">
                  <div class="widget-archives">
                    <h3 class="widget-title">Archives</h3>
                    <ul class="listnone bullet bullet-arrow-right mb0">
                      <li><a href="blog.html#">february <strong> (2016)</strong></a></li>
                      <li><a href="blog.html#">december <strong> (2015)</strong></a></li>
                      <li><a href="blog.html#">july <strong> (2015)</strong></a></li>
                      <li><a href="blog.html#">January <strong> (2015)</strong></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12"><!-- widget recent posts -->
              <div class="widget-outline"><!-- widget -->
                <div class="widget">
                  <div class="widget-recent-post">
                    <h3 class="widget-title">Recent Post</h3>
                    <!-- widget title -->
                    <div class="row">
                      <div class="col-md-12 col-sm-6">
                        <div class="recent-post-block"><!-- recent post block -->
                          <div class="recent-img"><!-- recent pic --><a href="blog.html#" ><img src="images/recent-post-1.jpg" class="img-responsive" alt=""></a>
                            <div class="meta meta-bg hidden-sm">
                              <div class="meta-date">
                                <div class="date">15</div>
                                July </div>
                              <div class="meta-comment"><a href="blog.html#">5<br>
                                <i class="fa  fa-comments"></i></a> </div>
                            </div>
                          </div>
                          <!-- /.recent pic -->
                          <div class="recent-post-desc"><!-- recent post desc -->
                            <h3 class="recent-post-title"><a href="blog.html#" class="heading-title">3 Ways a Tune-Up Prevents A/C from Breaking Down</a></h3>
                          </div>
                          <!-- /.recent post desc --> 
                        </div>
                        <!-- /.recent post block --> 
                      </div>
                      <div class="col-md-12 col-sm-6">
                        <div class="recent-post-block"><!-- recent post block -->
                          <div class="recent-img"><!-- recent pic --><a href="blog.html#"><img src="images/recent-post-2.jpg" class="img-responsive" alt=""></a>
                            <div class="meta meta-bg hidden-sm">
                              <div class="meta-date">
                                <div class="date">15</div>
                                July </div>
                              <div class="meta-comment"><a href="blog.html#">5<br>
                                <i class="fa  fa-comments"></i></a> </div>
                            </div>
                          </div>
                          <!-- /.recent pic -->
                          <div class="recent-post-desc "><!-- recent post desc -->
                            <h3 class="recent-post-title"><a href="blog.html#" class="heading-title">Smart Alternative to an Air Conditioner</a></h3>
                          </div>
                          <!-- /.recent post desc --> 
                        </div>
                        <!-- /.recent post block --> 
                      </div>
                    </div>
                  </div>
                  <!-- /.widget --> 
                </div>
              </div>
              <!-- /.widget recent posts --> 
            </div>
            <div class="col-md-12"><!-- widget tags -->
              <div class="widget-outline"> <!-- widget -->
                <div class="widget">
                  <div class="widget-tags">
                    <h3 class="widget-title">Tags</h3>
                    <!-- widget title --> 
                    <a href="blog.html#" title="Ac - repair">Ac - repair</a> <a href="blog.html#" title="heater">heater</a> <a href="blog.html#" title="furnace">furnace</a> <a href="blog.html#" title="maintainence">maintainence</a> <a href="blog.html#" title="commercial">commercial</a> <a href="blog.html#" title="heating">heating</a> <a href="blog.html#" title="furnace">furnace</a> </div>
                  <!-- /.widget --> 
                </div>
              </div>
            </div>
            <!-- /.widget tags --> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>