<div class="page-header"><!-- page-header -->
  <div class="container">
    <div class="row page-section"><!-- page section -->
      <div class="col-md-12 page-description"><!-- page description -->
        <h1 class="page-title">Contact</h1>
      </div>
      <!-- page description --> 
    </div>
    <!-- page section --> 
  </div>
</div>
<div class="page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="contact-us.html#">Home</a></li>
          <li class="active">Contact</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="map" id="googleMap"></div>
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="bg-white pinside30 mt-60 mb60 text-center"> <i class="icon-placeholder icon icon-size-xx"></i>
          <h4>Fixit address</h4>
          <p>4374 Twin House Lane
            Springfield, MO 65804</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="bg-white pinside30 mt-60 mb60 text-center"> <i class="icon-telephone-8 icon icon-size-xx"></i>
          <h4>Phone numbers</h4>
          <p>+ 1 800 -123-4567 <br>
            + 1 800 -123-4567</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="bg-white pinside30 mt-60 mb60 text-center"> <i class="icon-envelope icon icon-size-xx"></i>
          <h4>Email address</h4>
          <p>info@fixitrepairahed.com <br>
            info@fixitrepairahed.com</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="bg-white pinside30 mt-60 mb60 text-center"> <i class="icon-clock icon icon-size-xx"></i>
          <h4>Hours of operation:</h4>
          <p><strong>Mon - Fri:</strong> 9:00am - 8:00pm <br>
            <strong>Saturday: </strong> 10:00am - 5:00pm <br>
            <strong>Sunday:</strong> 10:00am - 2:00pm </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="contact-form mb60">
          <h2 class="mb60">Ask questions or request services</h2>
          <form class="contact-us" method="post" action="https://jituchauhan.com/fixit-repair/ac-repair/contact-us.php">
            <div class="row"> 
              <!-- Text input-->
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="name">name<span class="required">*</span></label>
                  <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required>
                </div>
              </div>
              <!-- Text input-->
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="email">Email<span class="required">*</span></label>
                  <input id="email" name="email" type="email" placeholder="" class="form-control input-md" required>
                </div>
              </div>
              <!-- Text input-->
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="phone">Phone<span class="required">*</span></label>
                  <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md" required>
                </div>
              </div>
              <!-- Select Basic -->
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="service">How Can We Help You?</label>
                  <select id="service" name="service" class="form-control">
                    <option value="ac-repair">ac-repair</option>
                    <option value="heating-furnace">heating-furnace</option>
                    <option value="maintenance">maintenance</option>
                    <option value="commercial">commercial</option>
                  </select>
                </div>
              </div>
              <!-- Select Basic -->
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label" for="comments">Comments</label>
                  <textarea class="form-control" id="comments" rows="7" name="comments"></textarea>
                </div>
              </div>
              <!-- Button -->
              <div class="col-md-12">
                <button type="submit" class="btn btn-default">submit request</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-space80">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-title text-center mb60">
          <h1>We service, repair &amp; install all brands</h1>
          <p>We offer repair, maintenance and installation of the all major brands of ac, HVAC equipment.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo.png" alt=""></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo2.png" alt=""></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo3.png" alt=""></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo4.png" alt=""></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo5.png" alt=""></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb20 text-center"><img src="images/brand-logo6.png" alt=""></div>
    </div>
  </div>
</div>